<aside class="w-96 h-screen sticky top-0 overflow-y-auto flex flex-col p-6 rounded-lg">
    <!-- Team Dropdown -->
    <div class="mb-6">
    <%= form_with url: teams_teams_page_path, method: :get, local: true do %>
        <label for="team_id" class="block font-bold mb-2 text-lg text-gray-700">Select a Team</label>
        <select name="team_id" id="team_id"
                class="w-full border border-gray-300 rounded-md p-2 text-gray-800 bg-white"
                onchange="this.form.submit()">
            <% (1..10).each do |i| %>
                <option value="<%= i %>" <%= "selected" if params[:team_id].to_i == i %>>
                    Team <%= i %>
                </option>
            <% end %>
        </select>
    <% end %>
    </div>

    <!-- Search bar -->
    <%= render partial: "teams/shared/team_searchbar" %>

    <!-- Current Party -->
    <%= render partial: "teams/shared/party_info" %>
</aside>