<div class="w-3/4 grid grid-cols-4 gap-4 ml-6">
    <% @pokemons.each do |pokemon| %>
      <% pokemon_id = pokemon[:id] %>

      <a href="<%= pokemon_path(pokemon[:name]) %>" 
         class="block bg-white shadow-lg rounded-lg p-4 text-center border border-gray-200 
                transition-transform transform hover:scale-105 hover:shadow-2xl cursor-pointer">
        
        <img src="<%= get_sprite_url_from_id(pokemon_id) %>"
             alt="<%= pokemon[:name] %>" 
             class="w-32 h-32 object-contain mx-auto">

        <p class="text-lg font-semibold capitalize mt-2 overflow-hidden max-w-full truncate"><%= pokemon[:name] %></p>

        <!-- Pokemon Types -->
        <%= render partial: "shared/type_badges", locals: { types: pokemon[:types] } %>
      </a>
    <% end %>
  </div>
</div>