<div class="w-3/4 grid grid-cols-4 gap-4 ml-6">
  <% @pokemons.each do |pokemon| %>
    <% pokemon_id = pokemon[:id] %>

    <%= form_with url: add_pokemon_to_team_path(@team), method: :post, data: { turbo: false }, local: true do %>
      <!-- Send pokemon name to controller -->
      <%= hidden_field_tag :pokemon_name, pokemon[:name] %>

      <button type="submit"
              class="w-full block bg-white shadow-lg rounded-lg p-4 text-center border border-gray-200 
                     transition-transform transform hover:scale-105 hover:shadow-2xl cursor-pointer">

        <img src="<%= get_sprite_url_from_id(pokemon_id) %>"
             alt="<%= pokemon[:name] %>" 
             class="w-32 h-32 object-contain mx-auto">

        <p class="text-md font-semibold capitalize mt-2"><%= pokemon[:name] %></p>

        <!-- Types shared/_type_badges -->
      <%= render partial: "shared/type_badges", locals: { types: pokemon[:types] } %>
      </button>
    <% end %>
  <% end %>
</div>
