<div class="flex flex-row gap-6 px-6">
  <!-- Search Section -->

  <!-- Search Result Grid -->
  <turbo-frame id="pokemon_results" class="flex-grow">
    <%= render partial: "teams/pokemon_grid", locals: { pokemons: @pokemons_search, team: @team } %>
  </turbo-frame>

  <!-- Current Team and Search Sidebar-->
  <div class="">
  <aside class="w-96 h-screen sticky top-0 overflow-y-auto flex flex-col p-6 rounded-lg">
        <h1 class="font-bold text-4xl mb-4">Create your team</h1>

  <%= form_with url: teams_teams_page_path, method: :get, data: { turbo_frame: "pokemon_results" }, local: true do %>
    <div class="mb-5">
      <input type="text" name="query" id="query"
             placeholder="Search for a Pokémon"
             value="<%= params[:query] %>"
             class="border-black-500 text-gray-900 text-sm rounded-lg bg-gray-200 w-full px-4 py-2"
             oninput="this.form.requestSubmit();" />
    </div>
  <% end %>
    <div class="mb-10">
      <h1 class="font-bold text-4xl mb-4 mt-4">Current Party</h1>

      <% if @team_members.any? %>
        <%= button_to "Delete Team", team_path(@team), method: :delete,
                                                       class: "bg-red-500 text-white mb-4 px-4 py-2 rounded hover:bg-red-600 cursor-pointer" %>
        <div class="grid grid-cols-2 gap-5">
          <% @team_members.each do |member| %>
            <%= button_to team_team_member_path(@team, member), method: :delete,
                                                                class: "bg-white shadow-md border border-gray-200 rounded-lg p-4 text-center transition-transform transform hover:scale-105 hover:shadow-2xl cursor-pointer cursor-pointer" do %>
              <img src="<%= get_sprite_url_from_id(member.pokemon_id) %>"
                  alt="<%= member.name %>"
                  class="w-24 h-24 object-contain mx-auto" />
              <p class="mt-2 font-semibold capitalize text-gray-800 overflow-hidden max-w-full"><%= member.name %></p>
              <p class="text-sm text-gray-500">ID: <%= member.pokemon_id %></p>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-500 italic mt-4">No Pokémon added yet.</p>
      <% end %>
    </div>
  </aside>
  </div>
</div>
