<a  href="<%= pokemon_path(pokemon.name) %>" 
    class="block shadow-lg rounded-lg text-center border border-gray-200
            transition-transform transform hover:scale-105 hover:shadow-2xl cursor-pointer 
            <%= type_color_class(pokemon.types[0]) %> p-4">

    <img src="<%= pokemon.sprite_url %>"
         alt="<%= pokemon.name %>"
         class="w-full h-24 object-contain mx-auto" />

    <p class="text-sm sm:text-base md:text-lg lg:text-xl font-semibold capitalize mt-2 break-words">
        <%= pokemon.name %>
    </p>

    <%= render partial: "shared/type_badges", locals: { types: pokemon.types } %>
</a>